/* 1 */
.a{
    border: 3px solid black;
}
.a p{
    background-color: green;
}

/* 2 */
.d{
    border: 3px solid black;
}

.d > p{ /* birinchi (.d p ) */
    background-color: red;
} 

/* 3 */
.o{
    border: 3px solid black;
}

.o+p{
    background-color: yellow;
}

.p{
    border: 3px solid black;
}

/* 4 */
.p ~ p{
    background-color: purple;
}