*{
    box-sizing: border-box;
}

body{
    height: 1500px;
}

/* 1 */
.center{
    border: 3px solid black;    
    padding: 15px;
    /*line-height: 60px;*/
    width: 60%; /* o'rtadan xisoblanib ikki tomoniga 30% dan beradi */
    margin: auto;
    text-align: center;   /*  2  */
}

/* 3 */
.img{  
    width: 60%;
    margin: auto;
    padding: 5px;
    border: 3px solid black;
    text-align: center;
}

/*.img img{
    display: block;  
    margin: auto;
} */

/* 3 */ 
/* Mutlaqo joylashtirilgan elementlar
 odatdagi oqimdan olib tashlanadi
 va elementlarning ustma-ust tushishi mumkin bo'ladi. */
.center1{
    border: 3px solid black;
    padding: 10px;
    width: 300px;
    position: absolute;
    left: 530px;
}

/* 4 */
.center2{
    position: absolute;
    top: 400px;
    left: 400px;
    border: 3px solid black;
    height: 200px;
    width: 40%;
}

.center2 p{
    transform: translate(35%, 400%);
}

/* 5 */
.center3{
    position: absolute;
    top: 600px;
    border: 3px solid black;
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
}