* {
  box-sizing: border-box; /*blokni Hajmini belgilaydi*/
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Bir Nechta Shriftlarni Qo'shadi*/
  margin: 0; /* Elementlarni chap chetidan to'ldirish*/
}
.it {
  padding: 80px; /* Matinga Masofa Belgilaydi*/
  text-align: center; /* Matinni O'ng tomondan Joylashtiradi */
  background: url(Barkamol.jpg); /* Fonga Rasim Yoki Rang O'rnatadi */
  color: #333; /* Matini Rangini Belgilaydi */
  padding-bottom: 50px;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 10px 10px; 
}

.it h1 {
  font-size: 50px; /* Matinni Hajmini Belgilaydi */
}

.menyu *{
  margin: 0; /* Menyuni tepadagi va pastagi bush qatorni yokotadi*/
  padding: 0;  /* Menyuni chapdagi bo'sh qatorni yoqotadi*/
}

.menyu {
  background: #333; /* Menyuni Fonini Belgilaydi*/
  position: sticky; /* Menyuni Tepada Qotirib Qoyadi*/
  top: 0; /* Menyuni tepagacha etadi*/
}

.menyu ul {
  display: flex; /* Minyuni Silkalarini ketma ket chetdan joylashtiradi*/
  justify-content: left; /* Minyuni silkalarini chap tomondan Joylashtiradi*/
}

.menyu ul li a{
  display: block; /* hujjat qanday ko'rsatilishini belgilaydi */
  padding: 15px 30px 15px 40px; /*Minyuni knopkalarini orasiga joy ochadi*/
  font-size: 20px; /* Menyuni knopkalarini matnini xajmini belgilaydi*/
  color: powderblue; /* Menyuni knopkalari matniga rang qo'shadi*/
  text-decoration: none; /* Menyuni Silkalarini Ostki Chizig'ini Yoqotadi*/
  /*text-transform: uppercase;*/ /* Menyuni Matn Xarflarini Xammasini Katta Qiladi*/
  transition: all 0.6s ease;
  
}

.menyu ul,ol {
  list-style: none; /* Spiskani Tuqtalik Markerni Yoqotadi */
}

.menyu ul li{
  position: relative;
}

.menyu ul li a i{
  position: absolute;
  top: 15px; /* Menyuni Ikkonkalarini tepa va past Hajmini Belgilaydi*/
  left: 1.1px; /* Menyuni Ikkonkalarini Rost va Chap Hajmini Belgilaydi*/
  font-size: 25px; /* Menyuni Ikkonkalarini Hajmini Belgilaydi*/
}

.menyu li a:hover{
  background: black; /* Mishkani Keltirgan Payt Fon Rangini Belgilaydi*/
  color: green; /* Mishkani Keltirgan Payt Matn Rangini Belgilaydi*/
  box-shadow: 1px 10px 10px green; /* Mishkani Keltirgan Payt Fon Rangiga Soya Qo'shadi */
  transition: all 0.5s ease; /* Mishkani Keltirgan Payt fon Rahgi Animatsiya Qo'shadi*/
  /*transform: scale(1.1);*/
}

i:hover{
  transform: scale(1.5);
}

.menyu ul li a.right {
  left: 15px;

}

/*Ochiladigan Menyu*/
.menyu li ul{
  position: absolute; 
  min-width: 150px; /* Ochiladigan Menyuni enini Belgilaydi*/
  display: none; /* Ochiladigan Menyuni Yoshintiradi*/
}
.menyu li ul li{
  border: 1px solid #c7c8ca; /* Ochiladin Menyuni Granitsasiga Rang Beradi*/
}

.menyu li ul li a{
  padding: 10px; /* Ochiladigan Menyuni Masofasini Belgilaydi*/
  text-transform: none; /*Ochiladigan Menyuni Matnini Yangi Qatordan Yozishga Qoymaydi*/
  background: #333; /*Ochiladigan Menyuga Fon Rang Qo'shadi*/
}

/* Ikkinchi Ochiladigan Meyu*/
.menyu li ul li ul{
  position: absolute;
  right: -187px; /* Ochiladigan Menyuni Ennini Belgilaydi*/
  top: 0; /* Ochiladigan Menyuni tepa,pastnini Belgilaydi*/ 
}

.menyu li:hover ul{
  display: block; /* Ochiladigan Menyuni Mishkani Keltirgan Payt Ochaydigon Qiladi*/
}

.down{
  font-size: 15px;
}










.bosh {
  /*border: 2px solid blue;*/
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: url();
}

.chel {
  /*border: 2px solid red;*/
  -ms-flex: 30%;
  flex: 30%;
}

.mujik {
  /*border: 2px solid green;*/
  -ms-flex: 70%;
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.rasim {
  /*border: 2px solid yellow;*/
  background: url(photo_2021-04-08_11-00-16.jpg);
  width: 100%;
  padding: 20px;
}

.footer {
  /*border: 2px solid black;*/
  padding: 20px;
  text-align: center;
  background: #504b4b;
  color: white;
}

@media screen and (max-width: 700px) {
.bosh {
  flex-direction: column;
  }
}
  
@media screen and (max-width: 400px) {
.menyu a {
  float: none;
  width: 100%;
}  
}
